.row
  .col
    %h1.page__title= t('contact.title')
.contact
  %h1 Для сотрудничества и предложений

  %div.contact-info
    %strong Email:
    %a{ href: 'mailto:vsopen2019@gmail.com' } vsopen2019@gmail.com
  %br
  %div.contact-info
    %strong WhatsApp:
    %a{ href: 'https://wa.me/17874177899' } +1 (787) 417-78-99
  %br
