-# Std view
.container
  %a.navbar-brand{href: '/'}
    = image_tag('logo.png', height: '50px', width: '50px')
    %span.d-none.d-sm-block.d-lg-none.d-xl-block
      = ENV['TOURNAMENT_NAME']
  %button.navbar-toggler.collapsed{'data-toggle'=>'collapse', 'data-target'=>'#navbarSupportedContent', 'aria-controls'=>'navbarSupportedContent', 'aria-expanded'=>'false', 'aria-label'=>'Toggle navigation'}
    %span.navbar-toggler-icon
      %span.line.line--1
      %span.line.line--2
      %span.line.line--3
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.navbar-main.ml-auto

      -# %li.nav-item{role: "presentation", class: (@section == 'news' ? 'active' : 'inactive')}
      -#   = link_to t('news.title'), news_index_path, class: 'nav-link'

      -# %li.nav-item.dropdown{role: "presentation", class: ((@section == 'calendar' or @section == 'tournaments') ? 'active' : 'inactive')}
      -#   %a.nav-link.dropdown-toggle#navbarDropdown{href:"#", role:"button", 'data-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
      -#     = t('tournaments.title')
      -#     .d-lg-none.d-block{style: "height: 24px;"}
      -#       %span.material-icons{style: "margin-left: 5px;"}= 'keyboard_arrow_down'
      -#   .dropdown-menu{'aria-labelledby': 'navbarDropdown'}
      -#     = link_to t('calendar.title'), calendar_path, class: 'dropdown-item'
      -#     = link_to t('navigation.list'), tournaments_path, class: 'dropdown-item'

      -# %li.nav-item{role: "presentation", class: (@section == 'rankings' ? 'active' : 'inactive')}
      -#   = link_to t('rankings.title'), rankings_path, class: 'nav-link'

      -# %li.nav-item.dropdown{role: "presentation", class: ((@section == 'players' or @section == 'statistics') ? 'active' : 'inactive')}
      -#   %a.nav-link.dropdown-toggle#navbarDropdown{href:"#", role:"button", 'data-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
      -#     = t('players.title')
      -#     .d-lg-none.d-block{style: "height: 24px;"}
      -#       %span.material-icons{style: "margin-left: 5px;"}= 'keyboard_arrow_down'
      -#   .dropdown-menu{'aria-labelledby': 'navbarDropdown'}
      -#     = link_to t('players.individuals'), players_path, class: 'dropdown-item'
      -#     = link_to t('statistics.title'), statistics_path, class: 'dropdown-item'

      %li.nav-item{role: "presentation", class: (@section == 'players' ? 'active' : 'inactive')}
        = link_to t('players.title'), players_path, class: 'nav-link'
      
      %li.nav-item{role: "presentation", class: (@section == 'matches' ? 'active' : 'inactive')}
        = link_to t('matches.title'), matches_path, class: 'nav-link'

      %li.nav-item{role: "presentation", class: (@section == 'rules' ? 'active' : 'inactive')}
        = link_to t('documents.title'), documents_path, class: 'nav-link'
      %li.nav-item{role: "presentation", class: (@section == 'rules' ? 'active' : 'inactive')}
        = link_to t('protocol.title'), 'https://disk.yandex.ru/d/gAxNePDTGP_svw', class: 'nav-link'
      %li.nav-item{role: "presentation", class: (@section == 'rules' ? 'active' : 'inactive')}
        = link_to t('result.title'), results_path, class: 'nav-link'
      %li.nav-item{role: "presentation", class: (@section == 'rules' ? 'active' : 'inactive')}
        = link_to t('contact.title'), contacts_path, class: 'nav-link'

      -# %li.nav-item{role: "presentation", class: (@section == 'informations' ? 'active' : 'inactive')}
      -#   = link_to t('information.title_short'), informations_path, class: 'nav-link'

      -# %li.nav-item{role: "presentation", class: (@section == 'videos' ? 'active' : 'inactive')}
      -#   = link_to t('video.title'), videos_path, class: 'nav-link'

      %li.nav-item.locales-list
        = link_to 'en', url_for(locale: 'en'), class: 'locales', style: "text-decoration: #{cookies[:locale] == 'en' ? 'underline' : ''}"
        -# = '/'
        -# = link_to 'de', url_for(locale: 'de'), class: 'locales', style: "text-decoration: #{cookies[:locale] == 'de' ? 'underline' : ''}"
        -# = '/'
        -# = link_to 'fr', url_for(locale: 'fr'), class: 'locales', style: "text-decoration: #{cookies[:locale] == 'fr' ? 'underline' : ''}"
        = '/'
        = link_to 'ru', url_for(locale: 'ru'), class: 'locales', style: "text-decoration: #{cookies[:locale] == 'fr' ? 'underline' : ''}"

    %ul.navbar-nav.navbar-account
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbarDropdown{href:"#", role:"button", 'data-toggle'=>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
            %span.material-icons.d-none.d-lg-block.ml-lg-3
              - if current_user.admin?
                = 'supervisor_account'
              - else
                = 'account_circle'
            %span.d-block.d-lg-none
              - if user_signed_in?
                = t('navigation.account.account')
              - else
                = t('login')
            .d-lg-none.d-block{style: "height: 24px;"}
              %span.material-icons{style: "margin-left: 5px;"}= 'keyboard_arrow_down'
          .dropdown-menu{'aria-labelledby': 'navbarDropdown'}
            .dropdown-title{style: 'text-align: center; font-weight: lighter;'}
              = current_user.username
              - if current_user.admin?
                = t('navigation.account.admin')
            -# = link_to t('navigation.account.account'), edit_user_registration_path, class: 'dropdown-item'
            - if current_user.admin?
              .dropdown-divider
              = link_to t('navigation.account.show_all_users'), users_path, class: 'dropdown-item'
            -#
            .divider
            = link_to t('navigation.account.log_out'), destroy_user_session_path, method: :delete, confirm: t('navigation.account.log_out_confirm'), class: 'dropdown-item'
      - else
        %li.nav-item.dropdown
          %a.nav-link{href:"#", role:"button", 'data-toggle'=>'modal', 'data-target'=>'#loginModal', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
            %span.material-icons.d-none.d-lg-block.ml-lg-3
              = 'account_circle'
            %span.d-block.d-lg-none
              - if user_signed_in?
                = t('navigation.account.account')
              - else
                = t('login')
